<div class="card">  
  <div id="<%= dom_id nueva %>">
    <p class="card-header">
      <strong>Encabezado:</strong>
      <%= nueva.encabezado %>
    </p>

    <p class="card-body">
      <strong>Cuerpo:</strong>
      <%= nueva.cuerpo %>
    </p>

    <p class="card-footer">
      <strong>Tipo:</strong>
      <%= nueva.tipo %>
    </p>
  </div>
</div>